<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/coderay.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= ((title != @config[:title])? "#{title} " : "") + "#{@config[:title]}" %></title>
  </head>
  <body>
    <a href="http://github.com/bkrsta"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
    <div id="header">
      <a href="/"><%= @config[:title] %></a>
    </div>
    <div id="content">
      <%= yield %>
    </div>

    <% if env['PATH_INFO'] == '/' %>
    <% end %>
    <% if env['SERVER_NAME'] != 'localhost' %>
    <!-- Google analytics -->
    <% end %>

    <footer><br>
      <%= "<center>« 640K ought to be enough for anybody » - B. Gates</center>" %>
    </footer>
  </body>
</html>
